/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  position: relative;
  font-family: 'La Belle Aurore', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

html, body {
  padding: 0;
  margin: 0;
}

/* MENU */
.menu__btn {
  position: absolute;
  top: 2em;
  right: 2em;
  width: 2.5em;
  height: 2.5em;
  background-color: transparent;
  z-index: 100;
  border: none;
}

.menu__btn-bar-1, .menu__btn-bar-2, .menu__btn-bar-3 {
  width: 100%;
  height: 3px;
  background: black;
  margin: 4px auto;
  backface-visibility: hidden;
  transition: all 0.3s;
}

.menu.open + .menu__btn {
  transform: rotate(45deg);
}

.menu.open + .menu__btn .menu__btn-bar-1 {
  transform: rotate(45deg);
}

.menu.open + .menu__btn .menu__btn-bar-1 {
  opacity: 0;
}

.menu.open + .menu__btn .menu__btn-bar-3 {
  transform: rotate(-45deg);
}

.menu {
  position: absolute;
  opacity: 0;
  top: calc(2em - 15px);
  right: calc(2em - 15px);
  height: 0;
  width: 0;
  padding: 20px;
  background-color: white;
  color: #2D2D2D;
  border-radius: 5px;
  transition: .2s;
}

.menu__content, .menu__contentList {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.menu.open {
  opacity: 1;
  background: rgba(255, 255, 255, 0.6);
  height: auto;
  width: 200px;
}

.menu.open .menu__content, .menu.open .menu__contentList {
  opacity: 1;
  visibility: visible;
}

.menu__contentList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__contentList li {
  margin: 0 0 3px 0;
  transform: translateX(20px);
  transition: 0.2s;
}

.menu.open .menu__contentList li {
  transform: translateX(0);
}

.menu__contentList li:nth-child(1) {
  transition-delay: 0.08s;
}
.menu__contentList li:nth-child(2) {
  transition-delay: 0.12s;
}
.menu__contentList li:nth-child(3) {
  transition-delay: 0.16s;
}
.menu__contentList li:nth-child(4) {
  transition-delay: 0.2s;
}

.menu__contentListItem {
  border: none;
  background: transparent;
  font-size: 1.2em;
}

/* HERO */
.hero {
  background-image: url('../img/city.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  color: #111;
}

.hero__text-container {
  position: absolute;
  top: 59%;
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: rotate(1.5deg);
}

.hero__text-container h1 {
  margin: 0;
  font-size: 2rem;
  line-height: 1.4;
}

@media (max-width: 800px) {
  .hero__text-container {
    width: 100%;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero__text-container h1 {
    font-size: 1.5rem;
  }
}

/* CONTENT */
.container {
  width: 100%;
  background-color: white;
}

.container > .container__content {
  height: 100vh;
  width: 100%;
  float: left;
  color: black;
  background-color: whitesmoke;
}

.container h1 {
  font-size: 2rem;
  margin: 5 auto;
  text-align: center;
}

.clearfix::after,
.clearfix::before {
  content: "";
  display: table;
  clear: both;
}

/* REGISTRY */
.registry__header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  color: black;
}

.registry__image {
  width: 100%;
  height: 100%;
  background-image: url('../img/sky.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
  float: right;
}

/* ADVENTURES */
.adventures {
  background-image: url('../img/us1.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
}

.adventures__header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  color: white;
}

.adventures__favorites {
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
}

.adventures__favoritesPanel {
  display: flex;
  flex-flow: column nowrap;
  padding: 1em;
  border: 2px solid white;
  color: white;
}

.adventures__favoritesPanel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.adventures__favoritesPanel li {
  font-family: 'Unica One', serif;
  font-size: 1.25em;
  padding-bottom: .25em;
}

.adventers a:visited, .adventures a:hover, .adventures a {
  color: white;
  font-family: 'Unica One', serif;
}

@media (max-width: 800px) {
  .adventures__header {
    margin-top: .25em;
  }

  .adventures__favorites {
    margin-top: 3.5em;
  }

  /* .adventures__favoritesPanel {
    border: 0px solid white;
  } */

  .adventures__favoritesPanel li {
    font-size: 1em;
  }
}

/* FOOTER */
.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  height: 60px;
  width: 100%;
  background-color: white;
}

.footer a, .footer a:visited, .footer a:hover {
  color: black;
}